<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content" layout:fragment="app-content">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{label.funcionario.listar}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/funcionarios/cadastrar}"
					role="button"> <span class="oi oi-plus" title="Cadastro"
					aria-hidden="true"></span> <span th:text="#{label.funcionario.button.novo}"></span>
				</a>
			</div>
		</nav>

		<div class="container">

			<p>
				<i class="oi oi-magnifying-glass"></i><span></span>
				<button class="btn btn-primary" type="button" data-toggle="collapse"
					data-target="#collapseNome" aria-controls="collapseNome" 
					th:text="#{label.funcionario.button.buscarPorNome}"></button>
				<button class="btn btn-primary" type="button" data-toggle="collapse"
					data-target="#collapseCargo" aria-controls="collapseCargo"
					th:text="#{label.funcionario.button.buscarPorCargo}"></button>
				<button class="btn btn-primary" type="button" data-toggle="collapse"
					data-target="#collapseData" aria-controls="collapseData"
					th:text="#{label.funcionario.button.buscarPorDatas}"></button>
			</p>
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseNome">
						<nav class="navbar navbar-light bg-light">
							<form class="form-inline" method="GET"
								th:action="@{/funcionarios/buscar/nome}">
								<input class="form-control mr-sm-2" type="search"
									th:placeholder="#{label.funcionario.nome}" aria-label="Search" th:name="nome" />
								<button class="btn btn-outline-success my-2 my-sm-0" 
									th:text="#{forms.button.buscar}"></button>
							</form>
						</nav>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseCargo">
						<nav class="navbar navbar-light bg-light">
							<form class="form-inline" method="GET"
								th:action="@{/funcionarios/buscar/cargo}">
								<select class="form-control mr-sm-2" th:name="id"
									aria-label="Search">
									<option value="" th:text="#{label.funcionario.cargo}"></option>
									<option th:each="c : ${listaCargos}" th:value="${c.id}"
										th:text="${c.nome}"></option>
								</select>
								<button class="btn btn-outline-success my-2 my-sm-0" 
									th:text="#{forms.button.buscar}"></button>
							</form>
						</nav>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseData">
						<nav class="navbar navbar-light bg-light">
							<form class="form-inline" method="GET"
								th:action="@{/funcionarios/buscar/data}">
								<input class="form-control mr-sm-2" type="date"
									aria-label="Search" th:name="entrada" /> <input
									class="form-control mr-sm-2" type="date" aria-label="Search"
									th:name="saida" />
								<button class="btn btn-outline-success my-2 my-sm-0" 
									th:text="#{forms.button.buscar}"></button>
							</form>
						</nav>
					</div>
				</div>
			</div>

			<div class="table-responsive">
				<div th:replace="~{fragments/alert}"></div>
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th th:text="#{label.table.column.id}"></th>
							<th th:text="#{label.table.column.nome}"></th>
							<th th:text="#{label.funcionario.salario}"></th>
							<th th:text="#{label.cargo.departamento}"></th>
							<th th:text="#{label.funcionario.cargo}"></th>
							<th th:text="#{label.funcionario.endereco}"></th>
							<th th:text="#{label.funcionario.dataEntrada}"></th>
							<th th:text="#{label.funcionario.dataSaida}"></th>
							<th th:text="#{label.table.column.acao}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="f : ${listaFuncionarios}">
							<td th:text="${f.id}"></td>
							<td th:text="${f.nome}"></td>
							<td th:text="|R$ ${{f.salario}}|"></td>
							<td th:text="${f.cargo.departamento.nome}"></td>
							<td th:text="${f.cargo.nome}"></td>
							<td>
								<button type="button" class="btn btn-secondary btn-sm"
									data-container="body" data-toggle="popover"
									data-placement="top"
									th:attr="data-content=${#strings.concat(
										f.endereco.logradouro, ', ',
										f.endereco.numero, ', ',
										f.endereco.complemento, ' - ',
										f.endereco.bairro, ', ',
										f.endereco.cidade, ' - ',
										f.endereco.uf.sigla, ' - ',
										f.endereco.cep
									)}">
									<span class="oi oi-eye" title="Visualizar" aria-hidden="true"></span>
								</button>
							</td>
							<td th:text="${#temporals.format(f.dataEntrada, 'dd/MM/yyyy')}"></td>
							<td th:text="${#temporals.format(f.dataSaida, 'dd/MM/yyyy')}"></td>
							<td colspan="2"><a class="btn btn-info btn-sm"
								th:href="@{/funcionarios/editar/{id} (id=${f.id})}"
								role="button"> <span class="oi oi-brush" title="Editar"
									aria-hidden="true"></span>
							</a>
								<button th:id="${'btn_funcionarios/excluir/' + f.id}"
									type="button" class="btn btn-danger btn-sm" data-toggle="modal"
									data-target="#myModal">
									<span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
								</button></td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation">
				  <ul class="pagination justify-content-center">
				  	<li th:class="${pagina == 1 ? 'disabled page-item':'page-item'}">
				      <a class="page-link" th:text="#{pagination.previous}" 
				      	th:href="@{/funcionarios/listar(page=${pagina}-1)}"></a>
				    </li>
				    <li th:each="i : ${#numbers.sequence(1, totalPaginas)}" 
				    	th:class="${pagina == i ? 'active page-item':'page-item'}">
				    	<a class="page-link" th:text="${i}" th:href="@{/funcionarios/listar(page=${i})}"></a>
				    </li>
				    <li th:class="${pagina == totalPaginas ? 'disabled page-item':'page-item'}">
				      <a class="page-link" href="#" th:text="#{pagination.next}"
				      	th:href="@{/funcionarios/listar(page=${pagina}+1)}"></a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
		<div th:replace="~{fragments/modal :: modal}"></div>
	</section>
</body>

</html>