<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<div class="modal fade" tabindex="-1" role="dialog" id="myModal" th:fragment="modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Atenção!</h5>
				</div>
				<div class="modal-body">
					<p>Clique em OK para confirmar a exclusão.</p>
				</div>
				<div class="modal-footer">
					<button id="ok_confirmar" type="button" class="btn btn-primary">OK</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>